.carousel-container {
    width: 100%;
    margin-top: 20px;
    // margin-left: 5%;
    // margin-right: 5%;
    max-width: 90%;
    @media (max-width: 500px){
        width: 100%
      }
      .css-1ps6pg7-MuiPaper-root{
        // width: 100%;
        display: flex;
        
      }
    }
.grayCarousel{
    margin-top: 100px;
    margin-bottom: 100px;
    width: 100%;
    max-width: 90%;
    
    & .logo-image{
       filter: grayscale(100%);
        opacity: 0.7; 
        &:hover{
            filter: grayscale(0%);
            opacity: 1;
        }
    } 
}
.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px; // Ajusta la altura según sea necesario
    @media (max-width: 500px){
        height: 100px;
        width: 106px;
      }

}

.logo-image {
    padding: 1%;
    max-width: 100%; // Ajusta el tamaño máximo de la imagen según sea necesario
    max-height: 100%; // Ajusta la altura máxima de la imagen según sea necesario
}

.css-1ps6pg7-MuiPaper-root{
    display: flex;
    justify-content: space-around;
}