.Cont_equipo{
  width: 80vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    @media (max-width: 767px) {
      width: 100%;
} 
}

.equipo {
  display: flex;
  position: relative;
  &::before{
    content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('../../assets/images/fondo1.png');
  background-size: contain;
  background-position: center;
  opacity: 0.3;
  z-index: -1;
  width: 100%;
  @media (max-width: 767px) {
    padding: 2px;
}
  }
    &.blur{
        filter: blur(4px);
    }
    font-family: var(--font-poppins);
    padding: 40px;
    height: 100%;
     h4{
        font-family: var(--font-poppins);
    }
    p{
        font-family: var(--font-poppins);
    }
    h5{
        font-family: var(--font-poppins);
    }
    .equipo-intro {
        display: flex;
        justify-content: space-around;    
        width: 90%;
        text-align: center;
        margin-bottom: 40px;
        align-items: center;
      h4 {
        
        font-size: 2.5rem;
        font-weight: 700;
        color: #333;
        margin-bottom: 20px;
      }
      @media (max-width: 767px) {
        width: 100%;
        // flex-direction: column;
    }
    }
    .frase_insp{
      width: 100%;
      display: flex;
      justify-content: center;
      p{
        font-size: 1.2rem;
      font-family: var(--font-poppins);
      font-weight: 500;
      color: #BE5005;
      @media (max-width: 767px) {
        font-size: 1rem;
}
      }
      h5{
        width: 200px;
        opacity: 0;
        transition: opacity 0.6s ease;;
        &.finish{
          opacity: 1;
        }
      }
      
    }
    .descripcion-imagen {
      width: 100%;
      border-radius: 8px;
      @media (max-width: 767px) {
          width: 100%;
 }    
    }
    .equipo-descripcion {
      border: 1px solid rgb(213, 213, 213);
      padding: 50px;
      border-radius: 10px;
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        flex-wrap: wrap;
        margin-top: 50px;
        margin-bottom: 100px;
        width: 80%;
        @media (max-width: 767px) {
          width: 97%;
    } 
      
        .descripcion-item {
          width: 70%;
          margin-bottom: 30px;
          margin-top: 50px;
          display: flex;
          flex-direction: row;
          align-items: center;
          @media (max-width: 767px) {
            display: flex;
            flex-direction: column;
            width: 100%;
   }    
          h5 {
            color: #333;
            margin-bottom: 2rem;
            font-size: 2rem;
            @media (max-width: 767px) {
                font-size: 1.2rem;
                font-weight: 600;
       }    
          }
      
          p {
            color: #666;
            margin-bottom: 1.5rem;
            font-size: 1.2rem;
              @media (max-width: 767px) {
                font-size: 0.9rem;
       }
          }
          
          /////////////////////////////
          /// 
          &.from-left {
            transform: translateX(-100%);
            opacity: 0;
            transition: transform 0.6s ease, opacity 0.6s ease;
        }
     &.show-mission {
            transform: translateX(0);
            opacity: 1;
    }

    &.show-impact-stats {
      width: 100%;
      display: flex;
      flex-direction: column;
            transform: translateX(0);
            opacity: 1;
        }
      }
        .descripcion-item2 {
            
            // align-self: flex-end;
            width: 60%;
            margin-top: 30px;
            display: flex;
            flex-direction: row-reverse;
            align-items: center;
            @media (max-width: 767px) {
                display: flex;
                flex-direction: column;
                width: 100%;
       }    
            h5 {
              color: #333;
              margin-top: 2rem;
              margin-bottom: 2rem;
              font-size: 2rem;
              @media (max-width: 767px) {
                font-size: 1.2rem;
       } 
            }
        
            p {
              color: #666;
              margin-bottom: 20px;
              font-size: 1.2rem;
              @media (max-width: 767px) {
                font-size: 0.9rem;
       }
            }
          
        
            &.from-right {
                transform: translateX(100%);
                opacity: 0;
                transition: transform 0.6s ease, opacity 0.6s ease;
            }
    
        &.show-vision {
                transform: translateX(0);
                opacity: 1;
        }}
      }}
 
  @media (max-width: 767px) {
    .equipo-intro {
      flex-direction: column-reverse; 
      align-items: center;
      text-align: center;
    
    }
  }
    .equipo-intro img {
      // height: auto; 
      width: 70%; 
      margin-bottom: 20px;
      @media (max-width: 500px) {
       width: 40%;
    }
  }
  .empresaDescripcion{
    margin-top: 10px;
    width: 100%;
}
  .empresaDescripcion{
    margin-top: 30px;
    width: 50%;
    text-align: center;
    @media (max-width: 767px) {
        width: 100%;       
    }
    & p {
      display: flex;
      align-items: flex-start;
      height: 100%;
      height: 100%;
      font-size: 1.3rem;
      font-size: 1rem;
      font-weight: 500;
      line-height: 1.8;
      @media (max-width: 767px) {
               font-size: 0.9rem;
      }
    }
}
.empresaDescripcion2{
  margin-top: 30px;
  width: 50%;
  text-align: center;

  
  @media (max-width: 767px) {
      width: 100%;       
  }
}
.equipo_presentacion{
  margin-bottom: 5%;
    & h5{
      color: #333;
      margin-top: 30px;
      margin-bottom: 20px;
        @media (max-width: 767px) {
            font-size: large;  
            font-weight: 600;
        }
    }
    p{
      color: #2b2b2b;
      font-size: 1rem;
        @media (max-width: 767px) {
            font-size: medium;  
        }
        margin-bottom: 30px;
    }
}

.MuiGrid-root.MuiGrid-container.MuiGrid-spacing-xs-3.css-zow5z4-MuiGrid-root{
  
  justify-content: center;
  align-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  @media (max-width: 400px) {
    width: auto; 
}
}
.MuiGrid-root.MuiGrid-container.MuiGrid-spacing-xs-3.css-1h77wgb{
  
  justify-content: space-evenly;
}

.principios_Text{
width: 100%;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
& h5{
  margin-bottom: 2%;
}
}
.values_title{
  display: flex;
  flex-direction: row;
  margin-bottom: 5%;
}

.valores {
  height: 700px;
  display: flex;
  background-image: url(/src/assets/images/28.png);
  background-size: contain;
  background-repeat: no-repeat;
  align-items: center;
  background-position: center;
  margin-bottom: 5%;
  @media (max-width: 767px) {
    background-image: url(/src/assets/images/28.png);
    padding-top: 15%;
    padding-bottom: 15%;
    background-size: cover;
    height: auto;
} 
  & ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1200px; 
    @media (max-width: 767px) {
      max-width: auto; 
      // background-color: #333;
      border-radius: 30px;
} 

  }
  
  .value {
    width: calc(50% - 20px);
    padding: 2px;
    margin: 10px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;

    height:15em;
    width:15em;
  
    &:hover {
      transform: translateY(-5px);
      box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    }

    & .value-content {
      padding: 10px;

      h3 {
        font-size: 1.2rem;
        margin-bottom: 10px;
        color: #333;
        transition: font-size 0.3s ease;
      }

      p {
        font-size: 0.9rem;
        line-height: 1.5;
        color: #666;
        transition: font-size 0.3s ease;
      }
    }
    &:hover .value-content {
      p {
        font-weight: 500; 
      }
    }
  }

  .value:nth-child(3n + 1) {
    background-color: #ffecb3; 
    transform: rotate(3deg);
    @media (max-width: 500px) {
      max-height: 70px;
      & p{
        display: none;
      }
      &:hover{
        max-height: 100%;
        p{
        display: flex;
      }
      } 
    } 
   &:hover{
    transform: rotate(0deg) scale(1.2);
    z-index: 1;
   }

  }

  .value:nth-child(3n + 2) {
    background-color: #b2dfdb;
    transform: rotate(-3deg);
    @media (max-width: 500px) {
      max-height: 70px;
      & p{
        display: none;
      }
      &:hover{
        max-height: 100%;
        p{
        display: flex;
      }
      } 
    } 
    &:hover{
      transform: rotate(0deg) scale(1.2);
      z-index: 1;
     }
  }

  .value:nth-child(3n + 3) {
    background-color: #ffcdd2;
    transform: rotate(5deg);
    @media (max-width: 500px) {
      max-height: 70px;
      & p{
        display: none;
      }
      &:hover{
        max-height: 100%;
        p{
        display: flex;
      }
      } 
    } 
    &:hover{
      transform: rotate(0deg) scale(1.2);
      z-index: 1;
     }
  }
}
